header{
    background-color: rgb(221, 140, 35);
    padding:20px;
    border:2px solid black;
    text-align: center;
     box-shadow: 5px 5px 5px 5px black;
}


body {
    background-image: url(pexels-cottonbro-5803456.jpg);
    
    color: rgb(19, 21, 23);
}
    
nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgb(235, 232, 182);
    margin-top: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px black;
    margin-bottom: 20px;
    
}
nav a{
    color: rgb(7, 7, 6);
}
nav a:hover{
    background-color: chocolate;
    color: rgb(19, 42, 124);
}
footer{
     background-color: rgb(85, 75, 4);
    padding:2px;
    border:2px solid black;
    text-align: center;
     box-shadow: 5px 5px 5px 5px black;
}
.FreeFire{
    float: left;
    border: 5px solid rgb(20, 25, 29);
}
#wrapper{
    background-color: rgb(202, 193, 138);
    width: 1000px;
    
    height: 1050px;
    margin-right: auto;
    margin-left: auto;
    
}
img{
    width: 300px;
}
.Free {
    float:right;
    border: 2px solid rgb(20, 25, 29);
    
}
.aside {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

aside {
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    margin-top:10px;
}


.injeti {
    display: flex;
 
    flex-wrap: wrap;  
    gap: 20px;
    padding: 20px;

}

.Kenneth {
    flex: 0 0 250px;   
   border:2px solid black;
    box-shadow: 5px 5px 7px gray;
    padding: 10px;
}
.aside {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

aside {
    width: 35%;
    padding: 10px;
}
.injeti {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;
    padding: 20px;
}

.modda {
    flex: 0 0 250px;   
    border: 5px solid black;
    box-shadow: 5px 5px 7px gray;
    padding: 10px;
}

th {
    padding: 30px;
    border: 2px solid black;
}
td {
    padding: 30px;
    border: 2px solid black;
}
.table {
    color: rgb(223, 225, 226);
}
tbody tr:nth-child(even) {
    background-color: rgb(9, 64, 24);
}
tbody tr:nth-child(odd) {
    background-color: rgb(6, 40, 40);
}
tfoot tr {
    background-color: rgb(119, 89, 52);
}
thead tr {
    background-color:rgb(119, 89, 52) ;
}
.bike {
    display: flex;
    margin: 20px 0px 20px 0;
    gap: 10px;
}
.bike label {
    text-align: right;
    width: 150px;
}
.bikeses {
    display: flex;
    gap: 10px;
    margin: 5px;
     accent-color:#322580;
}
.bikeses label {
    display: flex;
    align-items: center;
  gap: 5px;
}
fieldset {
    background-color: #4e7970;
    border: thin solid black;
    border-radius: 5px 5px;
    box-shadow: 5px 5px black;
    width: 80%;
    margin: auto;
    padding: 10px;
}
legend {
    border: thin solid rgb(9, 9, 9);
    margin: 5px;
    
    padding: 10px;
    border-radius: 5px ;
    background-color: rgb(112, 106, 54);
}
.bike input[type='submit'] {
    background-color: rgb(60, 106, 142);
    padding: 15px;
    border-radius: 5px;
    border: thin solid rgb(15, 15, 16);
}
.bike input:not([type='submit']) {
    background-color: #97baa5;
    padding: 10px;
     border-radius: 8px;
     box-shadow: 5px 5px black;
    font-style: italic;
}

.bike input:not([type='submit']):focus,.india select:focus, .india textarea:focus {
    background-color: rgb(169, 99, 99);
}



@media only screen and (max-width:600px) {
    body {
        background-color: rgb(110, 170, 212);
    }
    nav {
        flex-direction: column-reverse;
    }
    .aside {
        flex-direction: column-reverse;

    }
aside {
    width:auto;
}
.Kenneth {
    width:auto;
}
.bike, .bikeses {
        flex-direction: column;
    }
    .bike label, .form {
        text-align: left;
    }
    .bike input[type='submit'] {
        width: 100%;
        padding: 15px;
        font-size: 20px;
    }

}