.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: 2px solid black;
  gap: 15px;
  background-color: rgb(30, 116, 197);
}
div{
    border: 2px solid black;
}
.special{
    grid-column: span 3;
    background-color: rgb(26, 223, 62);

    
}
h1{
    background-color: rgb(25, 96, 239);
    grid-template-columns: 1fr 1fr;
    border: 23px solid rgb(20, 124, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
